<a href="https://colab.research.google.com/github/pavanghai/C_June22Python/blob/master/ConsultAdd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Old Work

In [ ]:
print ('x' * 5)

xxxxx

Looping : repeating a task

#### Slicing

----> [left index : right index]  
----> [ : right index] # skiping left| this will start from 0 and  will go till index - 1
----> [left index : ] # skiping RIGHT   
----> [ : ] # skiping BOTH   
----> [left index : Right index : step size]

In [ ]:
x = [10,20,30,40,50,60,70,80,90,100]

In [ ]:
x[:]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
x[3]

40

In [ ]:
x[2:7]

[30, 40, 50, 60, 70]

In [ ]:
print (x[::1])
print (x[::2])
print (x[::3])
print (x[::4])
print (x[::-1])
print (x[::-2])
print (x[::-3])
print (x[::-4])

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[10, 30, 50, 70, 90]
[10, 40, 70, 100]
[10, 50, 90]
[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]
[100, 80, 60, 40, 20]
[100, 70, 40, 10]
[100, 60, 20]

#### nested list [ [] ]

In [ ]:
x=[10,20,30,['Riyaz','ul','Haque'],40,50,60]
y=[10,20,30,[2,3,4],40,50,60]
x

[10, 20, 30, ['Riyaz', 'ul', 'Haque'], 40, 50, 60]

In [ ]:
print (x[3])
print (x[3][-1])
print (y[3])
print (y[3][-1])
print (y[3[-1]])

['Riyaz', 'ul', 'Haque']
Haque
[2, 3, 4]
4

TypeError: ignored

In [ ]:
z = [1,2,3,[10,20,[100,200,300],40,50,60],4,5,6]
print (z[3][2][1])

200

In [ ]:
len(z)

7

In [ ]:
sum(z)

TypeError: ignored

In [ ]:
# proper way to create a list using range function
# output of range is always as list
x=range(10,100,10)
print(type(x))
list(x)

<class 'range'>

[10, 20, 30, 40, 50, 60, 70, 80, 90]

## InClass

This section is for all the work that we do in class

##Assignments

### TASK TWO: OPERATORS AND DECISION-MAKING STATEMENT

#### **1 to 8 already done **
9. Read the two parts of the question below: 
 Write a program such that it asks users to “guess the lucky number”. If the correct number is guessed the program stops, otherwise it continues forever. 
Modify the program so that it asks users whether they want to guess again each time. Use two variables, ‘number’ for the number and ‘answer’ for the answer to the question of whether they want to continue guessing. The program stops if the user guesses the correct number or answers “no”. ( The program continues as long as a user has not answered “no” and has not guessed the correct number)

In [ ]:
t0209_luckyNum = 3
t0209_guessNum = input ("Guess the lucky number :")
i=1
while True:
  if t0209_guessNum == str(t0209_luckyNum):
    print ("Good guess")
    break
  elif t0209_guessNum !=str(t0209_luckyNum):
    t0209_tryAgain = input("wrong guess, try again ")
    if t0209_tryAgain == str(t0209_luckyNum):
      print ("Good guess")
      break
    elif t0209_tryAgain in ['no', 'No', 'Nope', 'nope']:
      print ("Thanks for playing...")
      break
  # i+=1
  # if i>=5:
  #   print ("You already tried for", i, "times, Game over")
  #   break

Guess the lucky number :1
wrong guess, try again 2
wrong guess, try again 4
wrong guess, try again 5
wrong guess, try again 6
wrong guess, try again 7
wrong guess, try again 8
wrong guess, try again no
Thanks for playing...

####10.  Write a program that asks five times to guess the lucky number. Use a while loop and a counter, such as  
```
counter=1
While counter <= 5:
  print(“Type in the”, counter, “number”
  counter=counter+1
```
The program asks for five guesses (no matter whether the correct number was guessed or not). If the correct number is guessed, the program outputs “Good guess!”, otherwise it outputs “Try again!”. After the fifth guess, it stops and prints “Game over!”.

In [ ]:
t0210_luckyNum = 4
t0210_counter = 1
while t0210_counter <= 5:
  
  t0210_guessNum = input ("Guess the lucky number :")

  if t0210_guessNum == str(t0210_luckyNum):
    print ("Good guess!")
  elif t0210_guessNum !=str(t0210_luckyNum):
    print ("Try again!")
 
  if t0210_counter >= 5:
    print ("Game over")
  
  t0210_counter += 1

Guess the lucky number :1
Try again!
Guess the lucky number :4
Good guess!
Guess the lucky number :4
Good guess!
Guess the lucky number :1
Try again!
Game over
Guess the lucky number :1
Try again!
Game over

#### 11.  In the previous question, insert “break” after the “Good guess!” print statement. “break” will terminate the while loop so that users do not have to continue guessing after they found the number. If the user does not guess the number at all, print “Sorry but that was not very successful”.

In [ ]:
t0211_luckyNum = 4
t0211_counter = 1
while t0211_counter <= 5:

  t0211_guessNum = input ("Guess the lucky number :")
  if t0211_guessNum == str(t0211_luckyNum):
    print ("Good guess! \nbreak")
    break
  elif t0211_guessNum !=str(t0211_luckyNum):
    print ("Try again!")
 
  if t0211_counter >= 5:
    print ("“Sorry but that was not very successful")
  t0211_counter += 1

Guess the lucky number :1
Try again!
Guess the lucky number :1
Try again!
Guess the lucky number :1
Try again!
Guess the lucky number :1
Try again!
Guess the lucky number :1
Try again!
“Sorry but that was not very successful

###TASK THREE: DATA STRUCTURES

In [ ]:
# 1. Create a list of the 10 elements of four different types of Data Types like int, string, complex, and float.
t0301_list = [2, 'numbers',10j, 5.5, 'from', 10 , 20, 30.5, 20.5, 50j]
# type(t0301_list[-1])
# len(t0301_list)

10

In [ ]:
# 2. Create a list of size 5 and execute the slicing structure
t0302_list = range(10,51,10)
t0302_list = list(t0302_list)
print (t0302_list, ": full list without indexing")
print (t0302_list[:], ": full list using blank index")
print (t0302_list[1:3], ": list using start and end index")
print (t0302_list[::2], ": full list using blank index, skiping 1 value")

[10, 20, 30, 40, 50] : full list without indexing
[10, 20, 30, 40, 50] : full list using blank index
[20, 30] : list using start and end index
[10, 30, 50] : full list using blank index, skiping 1 value

In [ ]:
# 3. Write a program to get the sum and multiply of all the items in a given list.
t0303_list = [*range(1,11,1)] # use argument-unpacking operator i.e. *
t0303_add = 0 ; t0303_multiply = 1

for i in t0303_list:
  t0303_add +=i 
  t0303_multiply *=i

print ("Sum of all numbers in the list is ",t0303_add)
print ("Multiple of all numbers in the list is ",t0303_multiply)

Sum of all numbers in the list is  55
Multiple of all numbers in the list is  3628800

In [ ]:
# 4. Find the largest and smallest number from a given list.
t0304_minMax = [*range(3,27,3)]
t0304_min = min(t0304_minMax) ; t0304_max = max(t0304_minMax)
print ("Largest # is",t0304_max,"and Smallest # is",t0304_min ,"from the list")

Largest # is 24 and Smallest # is 3 from the list

In [ ]:
# 5. Create a new list that contains the specified numbers after removing the even numbers from a predefined list.
t0305_list = [*range(1,21,1)]
t0305_nonEven = []
for i in t0305_list:
  if i%2 != 0:
    t0305_nonEven.append(i)
    # print (i,'is an odd number')
print ("Original list: ",t0305_list)
print ("After removing even numbers :",t0305_nonEven)

Original list:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
After removing even numbers : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# 6. Create a list of first and last 5 elements where the values are square of numbers between 1 and 30 (both included).
t0306_list = [*range(1,31,1)] ; t0306_sqrVal = []
# by Cheating  NEED Better WAY
for i in range(1,8):
  t0306_sqrVal.append(i**2)
t0306_diff = list (set (t0306_list) & set(t0306_sqrVal))

print (t0306_list)
print (t0306_sqrVal)
print (t0306_diff)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25]

In [ ]:
# 7. Write a program to replace the last element in a list with another list. 
# Sample data: [[1,3,5,7,9,10],[2,4,6,8]] Expected output: [1,3,5,7,9,2,4,6,8]
t0307_list = [*range(1,15,2)] ; t0307_listNew = [*range(21,26)]
t0307_listOut =  t0307_list[:-1] + t0307_listNew
t0307_listOut

[1, 3, 5, 7, 9, 11, 21, 22, 23, 24, 25]

In [ ]:
# 8. Create a new dictionary by concatenating the following two 
# dictionaries: a={1:10,2:20} b={3:30,4:40} Expected Result: {1:10,2:20,3:30,4:40}
t0308_dict_a = {1:10,2:20} ; t0308_dict_b={3:30,4:40}
t0308_dict_a.update(t0308_dict_b)
# print (t0308_dict_a, t0308_dict_b, t0308_dict_new)
t0308_dict_a

{1: 10, 2: 20, 3: 30, 4: 40}

In [ ]:
# 9. Create a dictionary that contains a number (between 1 and n) in the form(x,x*x). 
# Sample data (n=5) Expected Output: {1:1,2:4,3:9,4:16,5:25}
t0309_num = int(input("Enter a Number less then 10 :"))
# t0309_dict = {1:1}
for i in range (t0309_num):
  # if i == t0309_num-1:
  #   print ("Break", i)
  #   break
  # print (i+2)
  t0309_dict.update({i+1:(i+1)**2})
t0309_dict

Enter a Number less then 10 :10

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
# 10. Write a program which accepts a sequence of comma-separated numbers from the 
# console and generate a list and a tuple which contains every number. 
# Suppose the following input is supplied to the program: 34,67,55,33,12,98 
# The output should be: [‘34’,’67’,’55’,’33’,’12’,’98’] (‘34’,’67’,’55’,’33’,’12’,’98’)
t0310_inputNum = eval(input("Enter sequence of comma-separated numbers :"))
# print (type(t0310_inputNum),t0310_inputNum )
# print (len(t0310_inputNum))
t0310_tup = () ; t0310_list=[]
for i in range (len(t0310_inputNum)):
  # print (f"'{i}'")
  t0310_list.append(str(t0310_inputNum[i]))
  # t0310_tup.insert(str(t0310_inputNum[i]))

t0310_tup = tuple(t0310_list)
print (t0310_list)
print (t0310_tup)

Enter sequence of comma-separated numbers :45,32,12,33,56
['45', '32', '12', '33', '56']
('45', '32', '12', '33', '56')

###WEEKEND ACTIVITY ON DATA STRUCTURES

In [ ]:
# 1.Create a list of the 10 elements of four different types of Data Types like int, string, complex, and float.
t_wa01_list = [2, 'numbers',10j, 5.5, 'from', 10 , 20, 30.5, 20.5, 50j]

In [ ]:
# 2. Create a list of size 5 and execute the slicing structure
t_wa02_list = range(10,51,10)
t_wa02_list = list(t_wa02_list)
print (t_wa02_list, ": full list without indexing")
print (t_wa02_list[:], ": full list using blank index")
print (t_wa02_list[1:3], ": list using start and end index")
print (t_wa02_list[::2], ": full list using blank index, skiping 1 value")

In [ ]:
# 3. Create a list of given structure and 
# run x=[100,200,300,400,500,[1,2,3,4,5,[10,20,30,40,50],6,7,8,9],600,700,800] 
# Access list [1, 2, 3, 4] Access list [600, 700] Access list [100, 300, 500, 600, 800] 
# Access list [[800, 700, 600, [1, 2, 3, 4, 5, [10, 20, 30, 40, 50], 6, 7, 8, 9], 500, 400, 300, 200, 100]] 
# Access list [10] Access list [ ]
t_wa03_list = [100,200,300,400,500,[1,2,3,4,5,[10,20,30,40,50],6,7,8,9],600,700,800]
print (t_wa03_list[5][:4])
print (t_wa03_list[6:8])
print (t_wa03_list[::2])
print (t_wa03_list[::-1])
print (t_wa03_list[5][5][0])
print (t_wa03_list)

[1, 2, 3, 4]
[600, 700]
[100, 300, 500, 600, 800]
[800, 700, 600, [1, 2, 3, 4, 5, [10, 20, 30, 40, 50], 6, 7, 8, 9], 500, 400, 300, 200, 100]
10
[100, 200, 300, 400, 500, [1, 2, 3, 4, 5, [10, 20, 30, 40, 50], 6, 7, 8, 9], 600, 700, 800]

In [ ]:
# 4.Create a list of thousand numbers using range and xrange and see the difference between each other.
t_wa04_msg = ''' python 3 Range is same as xrange in python 2.7 and below
'''
print (t_wa04_msg)
t_wa04_listRang = [*range(1,1001)]
print (len(t_wa04_listRang), "\nDont want to use 1000 numbers so using len function")

 python 3 Range is same as xrange in python 2.7 and below

1000
Dont want to use 1000 numbers so using len function

In [ ]:
# 5. How Tuple is beneficial as compared to the list?
t_wa05_msg = ''' Since tuples are immutable Its faster to performe and lists are mutable '''
print (t_wa05_msg)

 Since tuples are immutable Its faster to performe and lists are mutable

In [ ]:
# 6. Write a program in Python to iterate through the list of numbers in the 
# range of 1,100 and print the number which is divisible by 3 and a multiple of 2.
t_wa06_list = [*range(1,101)]
# for i in range(t_wa06_list):
#   if t_wa06_list[i] % 3==0:
#     print (t_wa06_list[i], " is divisible by 3")

for i in range(1,101):
  if i % 3==0:
    print (i, " is divisible by 3")
  elif i % 2==0:
    print (i, " is multiple of 2")

In [ ]:
# 7. Write a program in Python to reverse a string and print only the vowel 
# alphabet if it exists in the string with their index.
t_wa07_inputString = input("Enter a String :")
t_wa07_inputString [::-1]
t_wa07_vowal = ['aeiouAEIOU']
for i in t_wa07_inputString:
  print (t_wa07_vowal,end=" ")

Enter a String :This is a StRRING
T h i s   i s   a   S t R R I N G

In [ ]:
# 8. Write a program in Python to iterate through the 
# string “hello my name is Abcde” and print the string which has even length of the word.

In [ ]:
# 9. Write a program in python to print the pair of numbers whose sum is equal 
# to result number that is let's say 8. x=[1,2,3,4,5,6,7,8,9,-1]

In [ ]:
'''
10. Write a program in Python to complete the following task: Create two different 
lists as in even_list and odd_list Ask the user to enter the number in the 
range of 1,50 and make sure if the entered number is even appended it to the 
even_list and if the entered number is odd append it to the odd list. Keep that 
in mind you can only add 5 items in each list Make sure once you entered the total 
5 elements calculate the sum of the list and return the maximum out of the list.
'''

In [ ]:
'''
11. Write a program to find out the occurrence of a specific word from an 
alphanumeric statement. Example: 12abcbacbaba344ab

          Output: a=5 b=5 c=2 make sure you should avoid the numbers in you logic
'''

In [ ]:
# 12. Generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10).